!!! 5
html(lang='en')
  head
    title ##{title}
    link(rel="stylesheet", type="text/css", href="http://flaviusb.net/style.css")
    link(rel="stylesheet", type="text/css", href="http://flaviusb.net/container.css")
    link(rel="stylesheet", type="text/css", href="http://flaviusb.net/mono.css")
    link(rel="stylesheet", type="text/css", href="http://flaviusb.net/syntax.css")
    link(href='http://fonts.googleapis.com/css?family=Inconsolata', rel='stylesheet', type='text/css')
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(rel="icon", href="http://flaviusb.net/favicon.ico", type="image/x-icon")
    link(href="http://flaviusb.net/atom.xml", type="application/atom+xml", rel="alternate", title="Blog Atom Feed")
    meta(http-equiv="content-type", content="application/xhtml+xml; charset=utf-8")
  body.highlight
    ul.posts
      - each entry in entries
        li
          span
            - var abs_url = "http://flaviusb.net/tweets/hashtags/" + entry.url
              a(href=abs_url)= entry.
          | &raquo; 
          div!= entry.fancytext
    p
      a(href="http://flaviusb.net") Home
      | &nbsp; | &nbsp; 
      a(rel="index", href="http://flaviusb.net/tweets") Tweets
      | &nbsp; | &nbsp; 
      a(href="http://github.com/flaviusb") Code
